*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


:root{
   --cor-primaria:rgb(83, 83, 83);
   --cor-secudaria: rgb(212, 155, 80);
   --cor-terceira:#47311E;
}

header{

    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;

}
 .jjlogo{
    position: fixed;
    left: 100px;
    top: -5px;
    width: 200px;
    height: 200px;
   
   
}

.header__title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: "inter", sans-serif;
    font-size: 48px;
    margin-left: 60px;
}
.header__title--laranja{
    
    color: chocolate;
    font-family: "Italiana", sans-serif;
    
}

main{
    height: 60vh;
    display:flex ;
    align-items: center;
    background-image: url(../img/pizzaBackground.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-size: cover;
   background-position: 30vw 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 260px;  
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background-color: var(--cor-primaria);
    box-shadow: 2px 2px darkgray;
    position: relative;
    left: 100px;
    
    
}


.form__input{
    width: 280px;
    height: 24px;

}

.form__btn{
    border-radius: 20px;
    padding: 10px 15px;  
    background-color: rgb(57, 57, 190);
    color: #fff;
    border: none;
    box-shadow: 2px 4px rgb(89, 89, 89);
}
.form__btn:hover{
    background-color: chocolate;
    color: black;
    

}


.form__btn--action{
    background-color: rgb(117, 144, 75);
}

footer{
    background-color: var(--cor-primaria);
    display: flex;
    text-align: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    justify-content:  space-around;
    align-items: center;
    

} 

 .block{

    
} 
.ew__{
    width: 10%;
}

.logo__logos{
    align-items: center;
    width: 20px;
    height: 20px;
}


