
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header{
background-color: rgb(178, 179, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;

}

.header__title{
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: "inter", sans-serif;
    font-size: 48px;
    
}
.header__title--laranja{
    color: chocolate;
}

main{
    height: 60vh;
}

.form{
    display: flex;
    flex-direction: column;
    width: 642px;
    height: 204px;  
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background-color: darkgray;
    box-shadow: 2px 2px darkgray;
}

.form__input{
    width: 280px;
    height: 24px;

}

.form__btn{
    border-radius: 20px;
    padding: 10px 15px;  
    background-color: blue;
    color: #fff;
    border: none;
    box-shadow: 2px 4px rgb(89, 89, 89);
}
.form__btn--action{
    background-color: greenyellow;
}

footer{
    background-color: rgb(73, 73, 72);
    display: flex;
    text-align: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    justify-content:  space-around;
    align-items: center;
    

} 

 .block{

    
} 
.ew__{
    width: 10%;
}

.logo__logos{
    align-items: center;
    width: 20px;
    height: 20px;
}


